body{
    padding: 0;
    margin: 0;
    background: rgb(30, 50, 100);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding-bottom: 30px;
}

.box{
    background: white;
    padding: 30px;
    font-weight: lighter;
    text-align:center;
}

.menu{
    color: white;
    background: rgb(30, 50, 100);
    position: fixed;
    width: 100%;
}

.menu h3{
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    margin:10px;
}


.menu .mnav{
    float:right;
    margin: 15px;
    display: inline-block;
}

.menu .mnav li{
    display: inline-block;
}

.menu .mnav li a{
    background: transparent;
    color: white;
    text-decoration: none;
    padding:2px 15px;
    border-radius: 5px
}

#sobre{
    color: white;
    padding: 200px 5%;
    background: rgb(30, 50, 100);
}

#sobre h1{
    margin: 0;
    font-weight: lighter;
    font-size: 60px
}

#sobre h2{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#sobre .options{
    margin: 30px 0 50px;
}

#sobre .options li{
    display: inline-block;
}

#sobre .options a{
    background: rgb(240, 240, 240);
    color:black;
    text-decoration: none;
    padding: 5px 13px;
    width: 200px;
    display: inline-block;
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
}

#meu-calcado{
    padding: 10%;
}

#meu-calcado h1{
    font-size: 40px;
    font-weight: lighter;
}

#meu-calcado h2{
    font-size: 38px;
    font-weight: normal;
}

.footer{
    background: rgb(180, 50, 50);
    text-align: center;
    padding:9px;
    color: white;
}

#nossa-solucao{
    background: rgb(240, 240, 240);
    padding: 5% 0%;
}

.soluction li{
    background: white;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    width: 200px;
    height: 300px;
    padding: 25px;
    margin: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-bottom: 3px solid rgb(220, 220, 220);
}

#equipe{
    background: rgb(20, 20, 20);
    color: white;
}

#equipe h1{
    font-weight: lighter;
}

.equipe li{
    display: inline-block;
    font-size: 28px;
    width: 200px;
    height: 300px;
    padding: 25px;
}

.equipe li h3{
    font-weight: lighter;
    font-size: 30px;
}

.equipe li small{
    font-weight: bold;
    font-size: 18px;
}

.equipe li .perfil{
    height: 200px;
    width: auto!important;
    overflow: hidden;
    border-radius: 4000px;
    display: inline-block;
}

.basic{
    color: white;
    margin: 5%;
    text-align: center;
}

.basic h1{
    font-size: 50px;
    font-weight: lighter;
}

.basic h1 small{
    font-size: 28px;
    font-weight: bolder;
}

.form-group{
    display: inline-block;
    background: white;
    border-radius: 5px;
    width: 400px;
    overflow: hidden;
    padding: 9px 5px;
    cursor: pointer;
    border-bottom: 3px solid rgb(130, 0, 0);
    margin: 8px;
}

.form-group label{
    color: black;
    text-align: left;
    display: block;
    font-weight: bold;
    padding: 4px;
}

.form-group .form-control{
    display: block;
    border: none;
    width: 96%;
    outline: none;
    padding: 5px;
}


.form-button{
    background: rgb(120, 0, 0);
    font-size: 28px;
    color: white;
    padding: 9px 60px;
    border: none;
    border-radius: 300px;
    margin: 15px;
    border-bottom: 3px solid rgb(100, 0, 0);
}

.header{
    background: white;
}

.header .logo{font-weight: bold;padding:9px; display: inline-block;}
.header .user{font-weight: lighter;
    padding:9px; display: block;
    margin: -15px 0 0;font-size: 11px;}
.header .logout{background: rgb(240, 240, 240); 
    border-bottom: 1px solid rgb(220, 220, 220); 
    display:inline-block; padding: 2px 15px; 
    border-radius: 30px;font-size:14px; 
position: absolute;
left: 90%;top: 10px;cursor:pointer}

.title{
    background: white;
    padding: 30px;
}

.title h1{
    font-weight: lighter;
    text-align: center;
}

.content{
    text-align: center;
}

.product{
    display: inline-block;
    background: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 30px;
    width: 400px;
    cursor: pointer;
}

.active{
    border-bottom: 1px solid rgb(30, 30, 60);
    background: white!important;
    color: black!important;
}

#sobre{
    padding-bottom: 30px; 
}

#morevis{
    text-align: justify;
    border-radius: 5px;
    padding: 9px 30px;
    margin: 15px 50px;
    width: 400px;
    display: inline-block;
    line-height: 35px;
    border-bottom: 4px solid rgb(30, 30, 80);
}

#morevis small{
    font-weight: lighter;
}

.vantagens{
    text-align: center;
}

#about{
    color:white;
    float: right;
    padding: 10% 0% 10% 0%;
    width: 900px;
}

#about h1{
    font-size: 50px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

#about small{
    font-size: 28px;
    font-weight: normal;
    background: white;
    border-radius: 5px;
    color:black;
    padding: 9px;
}

#sobre_img{
    width: 400px;
    height: auto;
    border-radius: 300px;
    margin: 100px;
}

#texto_about{
    color: white;
    padding: 40px 0;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    line-height: 35px;
}

#linguagens{
    background: white;
    border-radius: 5px;
    margin:  10%;
}

#linguagens h1{
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

.c{text-align: center;}

.work{
    height: auto;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 20px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.work .img{
    width: auto;
    height: 250px;
    margin-bottom: -4px;
}

.work .text{
    background: white;
    padding: 9px;
    font-size: 18px;
}

.work .url{
    background: white;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.contact{
    padding-top: 150px!important;
}

.social{
    color: black;
    text-decoration: none;
    background: white;
    display: inline-block;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    text-align: center;
    margin: 70px;
}

.social .img{
    height: 50px;
    width: auto;
    display: inline-block;
    padding: 0px;
}

.social .text{
    display: block;
    font-size: 30px;
    padding: 0px;
}










































