@media (min-width: 900px) {
    #menu{display: none;}
    
    #content{
        padding-top: 0px;
        opacity: 1;
        z-index: 0;
        transition: all 0.3s;
    }
    
    body{
        padding: 0;
        margin: 0;
        background: rgb(30, 50, 100);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
        padding-bottom: 30px;
    }

    .box{
        background: white;
        padding: 30px;
        font-weight: lighter;
        text-align:center;
    }

    .menu{
        color: black;
        background: white;
        box-shadow: 0 0 7px rgba(0,0,0,0.3);
        position: fixed;
        width: 100%;
    }

    .menu h3{
        display: inline-block;
        font-weight: normal;
        font-size: 18px;
        margin:10px;
    }


    .menu .mnav{
        float:right;
        margin: 10px;
        display: inline-block;
    }

    .menu .mnav *{
        display: inline-block;
    }

    .menu .mnav li a{
        background: transparent;
        color: black;
        text-decoration: none;
        padding:2px 15px;
        border-radius: 5px
    }

    #sobre{
        color: white;
        padding: 200px 5%;
        background: rgb(30, 50, 100);
    }

    #sobre h1{
        margin: 0;
        font-weight: lighter;
        font-size: 60px
    }

    #sobre h2{
        font-size: 30px;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    #sobre .options{
        margin: 30px 0 50px;
    }

    #sobre .options li{
        display: inline-block;
    }

    #sobre .options a{
        background: rgb(240, 240, 240);
        color:black;
        text-decoration: none;
        padding: 5px 13px;
        width: 200px;
        display: inline-block;
        border-radius: 5px;
        font-size: 24px;
        margin: 10px;
    }
    .title{
        background: white;
        padding: 30px;
    }

    .title h1{
        font-weight: lighter;
        text-align: center;
    }

    .content{
        text-align: center;
    }

    .product{
        display: inline-block;
        background: white;
        border-radius: 5px;
        margin: 10px;
        padding: 10px 30px;
        width: 400px;
        cursor: pointer;
    }

    .active{
        border-bottom: 1px solid rgb(30, 30, 60);
        background: rgb(30, 50, 100)!important;
        color: white!important;
    }

    #sobre{
        padding-bottom: 30px; 
    }

    #morevis{
        text-align: justify;
        border-radius: 5px;
        padding: 9px 30px;
        margin: 15px 50px;
        width: 400px;
        display: inline-block;
        line-height: 35px;
        border-bottom: 4px solid rgb(30, 30, 80);
    }

    #morevis small{
        font-weight: lighter;
    }

    .vantagens{
        text-align: center;
    }

    #qse{
        text-align: center;
        color: white;
        padding: 40px 15%;
    }

    #sobre_img{
        display: inline-block;
        border-radius: 300px;
        width: auto;
        height: 300px;
        margin: 40px 0 0px;
    }

    #about h1{
        text-align: center;
        font-weight: lighter;
        font-size: 45px;
        display: inline-block;
    }

    #about small{
        font-weight: bolder;
        font-size: 25px;
        display: block;
        display: inline-block;
    }

    #texto_about{
        padding: 0 10% 10px;
        line-height: 35px;
        font-size: 20px;
        text-align: justify;
    }

    #linguagens{
        background: white;
        border-radius: 5px;
        margin:  10%;
    }

    #linguagens h1{
        margin: 0;
        padding: 0;
        font-weight: lighter;
    }

    .c{text-align: center;}

    .work{
        height: auto;
        display: inline-block;
        color: black;
        text-decoration: none;
        margin: 20px;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 0 7px rgba(0,0,0,0.3);
    }

    .work .img{
        width: auto;
        height: 250px;
        margin-bottom: -4px;
    }

    .work .text{
        background: white;
        padding: 9px;
        font-size: 18px;
    }

    .work .url{
        background: white;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
    }

    .contact{
        padding-top: 150px!important;
    }

    .social{
        color: black;
        text-decoration: none;
        background: white;
        display: block;
        border-radius: 5px;
        padding: 35px;
        box-shadow: 0 0 7px rgba(0,0,0,0.3);
        text-align: center;
        margin: 20px 30px;
        display: inline-block;
        width: 400px;
    }

    .social .img{
        height: 50px;
        width: auto;
        display: inline-block;
        padding: 0px;
    }

    .social .text{
        display: block;
        font-size: 30px;
        padding: 0px;
    }
}