<div id='sobre' class='box'>
    <h1>Por que ter um <b>site</b>?</h1>
    <h2>No que um <b>aplicativo</b> vai ajudar seu negócio?</h2>
</div><br />
<div class='vantagens'>
<div id="morevis" class="box">
    <h2>Mais visibilidade<br />
    <small>Na era digital, o primeiro local em que as pessoas irão procurar para saber mais sobre sua empresa é na internet.</small></h2>
</div><br />
<div id="morevis" class="box">
    <h2>Mais vendas<br />
    <small>Você vai poder vender para pessoas em qualquer local do mundo, através do celular ou de um computador.</small></h2>
</div><br />
<div id="morevis" class="box">
    <h2>Mais modernidade<br />
    <small>Ao ter uma identidade visual na rede sua marca ganhará mais credibilidade e facilidade de comunicação com seus clientes.</small></h2>
</div>
</div>
<!--
<div class="box whiteData" id="sobre">
    <h1>Me chamo <b>Gabriel</b></h1>
    <h2>Sou <b>desenvolvedor</b> e <b>designer</b></h2>
    <h2>E posso te ajudar a colocar <b>sua marca</b> na <b>web</b></h2>
    <h2>Isso tudo a um preço bastante <b>acessível</b></h2>
</div>
-->