<div id="qse">
<img src='assets/img/gabriel.jpg' id='sobre_img' />
<div id="about">
<h1>Gabriel Vanderlei<br />
<small>Desenvolvedor Web</small></h1>
<div id="texto_about">
    <p>Olá, meu nome é Gabriel Vanderlei de Oliveira, comecei a programar em 2008 - quando possuia apenas 08 anos - de forma auto-didata e atualmente sou Coordenador Voluntário de Tecnologia da Informação do Instituto Internacional Despertando Vocações (IIDV) onde desenvolvi no último ano a maior 
    parte das minhas conquistas profissionais.</p>
    <p>Paralelamente estudo no  estudo  no Instituto Federal de Pernambuco (IFPE) no curso técnico em Eletrônica onde realizo pesquisas na área de redes de sensores. Desenvolvi sozinho cerca de cinco sites voltados a divulgação tanto de eventos quanto de projetos, 
    fiz uma plataforma de eventos (SMART Event) que foi utilizada nos três eventos principais da instituição, além disso desenvolvi um aplicativo 
    educativo denominado Roleta Atômica.</p>
</div>
</div>
</div>